/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2500ed6b;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formlog {

    border-radius: 15px;
    display: block;
    border: 1px solid white;
    padding: 30px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.37);

}

form a{
    font-size: 10px;
    color: red;
    margin-top: 10px;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
}


label {
    display: block;
    margin-bottom: 5px;
    color: white;
    color: hsla(0, 0%, 13%, 1);
    font-weight: 500;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    /* border: 2px solid rgb(131, 216, 255); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    background-color: rgba(43, 135, 240, 0.1);
    color: white;
    font-size: 16px;
    transition: border-color 0.8s ease, background-color 0.8s ease;
}

input:focus {
    background-color: white;
    box-shadow: 0px 0px 8px 0px #ffffff;
    color: rgb(15, 23, 42);
    border-bottom: 3px solid rgb(0, 0, 0);
    outline: none;
}
::placeholder {
    color: black;
    opacity: 0.7;
     font-size: 13px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: rgb(15, 23, 42);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #ec4899, #8b5cf6); /* Gradient on hover */
    transform: scale(1.02); /* Slight zoom effect */
}

button:focus {
    outline: 2px solid #8b5cf6; /* Highlight on focus */
    outline-offset: 2px;
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* Focus effect */
}